@import '../../assets/css/variables';

.card-total {
    padding-top: 10%;
    margin-bottom: 10%;
    border-top: 1px solid $color-gray-2;

    >div {
        display: flex;
        justify-content: space-between;
    }

    a {
        color: $color-blue-1;
    }
}

.modal {
    height: auto;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
}