/* styles */


.actions {
  text-align: center;
}

.actions-last {
  text-align-last: center;
}

.modal {
  height: auto;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}

.pwWrapper {
  padding: 10px 5px;
  background-color: #a6a97e17;
  box-shadow: 0 0 0.3rem rgba(105, 105, 105, 0.5);
  border-radius: 1px;
  margin-bottom: 10px;
  width: 100%;
}