/* styles */
@import "~bootstrap/scss/bootstrap";
@import '../../assets/css/variables';


.filter {
  background-size: cover;
}

.filter-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  > * {
    margin: 0 15px;
  }
}

.filter-wrapper {
  background: rgba(0, 0, 0, 0.093);
}

.react-datepicker {
  font-family: 'Dosis', sans-serif;
}

.react-datepicker__header {
  background-color: white;
  border-bottom: 0;
}

.react-datepicker__day--today {
  background-color: $color-yellow;
  border-radius: 0.3rem;
  font-weight: normal;
  color: #000;
}

.react-datepicker__day--selected {
  background-color: $color-blue-4;
  color: white;
}

.react-datepicker__day-names {
  font-weight: bold;
}

.react-datepicker__day--keyboard-selected {
  background-color: inherit;
  color: inherit;
  &:hover {
    background-color: inherit;
  }
}

.react-datepicker__triangle {
  border-bottom-color: white !important;
}

@media only screen and (max-width: 567px) {
  .search-content {
    flex-direction: column;
    > * {
      margin: 10px 5px;
    }
    .react-datepicker-wrapper,
    .form-item,
    .btn {
      width: 100%;
    }
  }
}

.react-datepicker__tab-loop {
  margin: 0;
}


.actions {
  text-align: center;
}

.actions-last {
  text-align-last: center;
}

.table-td
{
  height: 5vh;
}

.topmarg70
{
  margin-top: 70px;
}

.topmarg150
{
  margin-top: 150px;
}